/* RESPONSIVE DESIGN */

/* VARIABLES */
:root {
    --principal: #008C9E;
    --blue-grey: #343838;
    --red: #9e1d08;
    --blue-light: #b6d7f2;
    --blue-denim: #d3e0f7;
}
/* ESTANDARIZAR */
body {
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--blue-denim);
    font-family: 'Roboto', 'Open Sans', sans-serif;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

/* CABECERA */
.nav__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
.nav__logo {
    display: flex;
    background-color: var(--principal);
    grid-column: 1 / 2;
    font-size: calc(2em + 1vw);
    color: #F0F5F9;
    justify-content: center;
    align-items: center;
    border: 5px solid black
}
.nav__menu img {
    width: 35px;
    margin: 15px;
}
.nav__menu {
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 4;
    background-color: var(--blue-grey);
    border: 5px solid black;
}
.nav__menu--image {
    margin-right: 1rem;
}
.nav__menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: right;
    padding: 0;
    margin: 2px 0px 0px -80px;
    font-size: 2rem;
}
.nav__menu--image:hover ul, ul:hover{
    display: block;
}
.nav__menu li {
    margin: 10px 40px;
}
.nav__menu li a {
    text-decoration: none;
    color: white;
}
.nav__menu li a:hover{
    text-decoration: underline;
}

img {
    width: 35px;
    margin: 15px;
}
.nav-header .nav-header-logo img {
    width: 80px;
    margin:  0;
    padding: 0;
}
.nav-header .nav-menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: right;
    padding: 0;
    margin: 2px 0px 0px -120px;
    font-size: 20px;
    width: 200px;
}
.nav-header .nav-menu:hover ul, ul:hover{
    display: block;
}
.nav-header .nav-menu li {
    margin: 10px 40px;
}
.nav-header .nav-menu li a {
    text-decoration: none;
    color: #39d9b2;
}
.nav-header .nav-menu li a:hover{
    text-decoration: underline;
}

/* MAIN */
main{
    width: 100%;
    overflow: scroll;
    position: relative;
}
/* BOOKS */
.books__section {
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    padding: 40px;
    width: 100%;
}
/* Carrusel de Libros */
.book {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.book__items{
    width: 200px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;    
}
.book__items:hover ~ .book__items {
    transform: translate3d(100px, 0, 0);
}
.book:hover .book__items {
     opacity: 0.3;    
}
.book:hover .book__items:hover {
    transform: scale(1.5);
    opacity: 1;
}
.book__items {
    object-fit: scale-down;
}
.book__items img {
    width: 100%;
    height: 100%;
    margin: 0;
}
.book__section--title {
    font-size: calc(2em + 1vw);
}
/* ! Animación */
.book__items {
    transform-style: preserve-3d;
    position: relative;    
}
.book__items:hover {
    transform: rotateY(180deg);
}
.face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}
.face.book--image {
    background-color: red;
}
.face.book--info {
    background-color: #0b775c;
    transform: rotateX(180deg);
}