/*Imagen Mía*/
.main__info--img {
    /* height: 675px; */
    width: 100%;
    height: auto;
}
.main__info--img img {
    height: 100%;
    width: 100%;
}
/*Informacion sobre mi*/
.main__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
}
.main__personal-info h1{
    text-align: center;
    margin: 20px 0 10px 10px;
}
.main__personal-info p {
    padding: 10px 1em 1em;
}
.main__personal-info--tags p {
    padding: 1px 1vh 1em;
}
/*Botones*/
.menu__buttons a{
    padding-left: 3vw;
    display: flex;
    align-items: center;
    height: 100%;
}
.menu__buttons a article {
    padding-left: 2vw;
}
/*  */
.main__programs {
    grid-template-columns: repeat(2, auto) minmax(250px, auto);
}
/*Last Program*/
.main__lenguages {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.main__github {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
    /*GitHub*/
.main__github .button{
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}
.main__github .button:hover {
    width: 100%;
    max-width: 310px; 
    height: 100px;
    background-color: var(--blue-denim);
}
.main__github .button span {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.main__github .button img {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
    /*Escuelas*/
.main__schools {
    grid-template-columns: repeat(2, auto);
}
    /*Book Section*/
.main__books-photos {
    grid-template-columns: repeat(3, auto);
}
    /*Adobe*/
.main__adobe {
    grid-template-columns: repeat(3, auto);
}
    /*Certificates*/
.main__certificates {
    grid-template-columns: repeat(4, auto);
}
    /*Contacto*/
.main__contact {
    grid-column: 3 / 5;
    height: 100%;
}
    /*Animación*/
.button{ 
    width: 70px;
    height: 70px;
    border-radius: 80px;
}
.button:hover {
    width: 150px;
    background-color: var(--red);
    border: 1px solid white;
}
.button .icon {
    height: 70px;
    width: 70px;
    border-radius: 70px;
}
.button .icon i{
    font-size: 6rem;
    line-height: 70px;
}
.button span {
    font-size: 2rem;
    line-height: 60px;
}
/*Paypal*/
.contact__paypal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paypal__button{
    width: 100px;
}