/* VARIABLES */
:root {
    --principal: #008C9E;
    --blue-grey: #343838;
    --red: #9e1d08;
    --blue-light: #b6d7f2;
    --blue-denim: #d3e0f7;
}

/* ESTANDARIZAR */
body {
    margin: 0%;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: 'Bree Serif', 'Open Sans', sans-serif;
    /* background-color: var(--blue-grey); */
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
}

/* CABECERA */

.nav--header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}
.nav--menu img {
    width: 35px;
    margin: 15px;
}
.nav--logo {
    display: flex;
    background-color: var(--principal);
    grid-column: 1 / 2;
    font-size: calc(2em + 1vw);
    color: #F0F5F9;
    justify-content: center;
    align-items: center;
    border: 5px solid black
}
.nav--menu {
    display: flex;
    justify-content: flex-end;
    grid-column: 2 / 4;
    background-color: var(--blue-grey);
    border: 5px solid black;
}
.nav--menu-image {
    margin-right: 1rem;
}
.nav--menu ul {
    display: none;
    list-style: none;
    position: absolute;
    text-align: right;
    padding: 0;
    margin: 2px 0px 0px -80px;
    font-size: 2rem;
}
.nav--menu-image:hover ul, ul:hover{
    display: block;
}
.nav--menu li {
    margin: 10px 40px;
}
.nav--menu li a {
    text-decoration: none;
    color: var(--principal);
}
.nav--menu li a:hover{
    text-decoration: underline;
}

    /* Main */
.main--introduction {
    display: flex;
    flex-wrap: wrap;
}

/* Imagen */
.main--info-img {
    border: 5px solid black;
    height: 230px;
    width: 100%;
}
.main--info-img img{
    width: 100%;
    height: auto;
}
/* Información sobre mi */
.main--personal-info {
    width: calc(100% - 10px);
    border: 5px solid black;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: center;
    background-color: var(--blue-light);
}
.main--personal-info h1 {
    font-size: calc(2em + 1vw);
    margin: 10px 0 0 20px;
}
.main--personal-info p {
    margin: 0%;
    font-size: calc(1em + .7vw);
    padding: 25px 20px;
}
.main--personal-info .tags {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.main--personal-info .tags p {
    padding: 10px 40px;
}
/* Curriculum Vitae */
.main--cv {
    width: calc(100% -10px);
    height: auto;
    border: 5px solid black;
    background-color: var(--blue-denim);
    display: flex;
    align-items: center;
    justify-content: center;
}
.main--cv div {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}
.main--cv img{
    margin-top: 10px;
    width: 90%;
}
.main--cv p{
    font-size: calc(1em + .7vw);
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid black;
    width: auto;
    justify-content: center;
    padding: 2px 2rem;
}
.main--cv a {
    color: #343838;
}
.main--cv p:hover {
    font-size: calc(1em + .8vw);
    border: 2px solid black
}

    /* Menú */
main .menu {
    display: grid;
    grid-template-rows: repeat(2, auto);
    background-color: black;
}
/* IMAGEN INTRODUCTORIA */

.menu--img{
    width: calc(100% - 10px);
    height: 250px;
    border: 5px solid black;
}
.menu--img .background{
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/imagenes/Fotos/Programador.jpg');
    background-position: scroll;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
/* BOTONES */
.menu--buttons {
    background-color: var(--blue-grey);
    font-size: calc(1em + .8vw);
    display: grid;
    width: calc(100% - 4px);
    grid-template-columns: repeat(2, 1fr);
}
.menu--buttons img{
    width: 8%;
}
.menu--buttons div {
    background-color: var(--red);
    border: 2px solid black;
    width: 100%;
    margin: 0;
}
.menu--buttons a{
    display: grid;
    justify-items: center;
    color: var(--blue-denim);
    font-size: calc(1em + .5vw);
}
.menu a:visited {
    color: orange;
}
.menu a:hover {
    font-size: calc(1em + .6vw);
}

    /*Programas*/ 
main .main--programs {
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-size: 1rem;
}
/*Ultimo Programa*/
.last-program {
    background-color: var(--blue-light);
    border: 5px solid black;
    width: auto;
    max-width: 800px;
}
.last-program h2 {
    margin: 0 0 7px 0;
    display: flex;
    justify-content: center;
    font-size: calc(1.5em + 1vw);
}
.last-program .last-program--info {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
}
.last-program--info div {
    width: 85%;
}
.last-program--info div p {
    display: inline-block;
    width: 100%;
}
.last-program--info div img{
    width: 45%;
    float: right;
    padding: 5px;
}
.last-program--info div span {
    font-weight: 700;
}
.last-program .last-program--info div p{
    padding-left: 15px;
    font-size: calc(1em + 1vw);
}

/*Lenguajes*/
.lenguages {
    background-color: var(--principal);
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "c titulo titulo Java"
                         "Swift JavaScript TensorFlow Python"
                         "php HTML Numpy MySQL"
                         ". Css Matplotlib .";
    width: auto;
    max-width: 600px;
}
main .main--programs .lenguages h2{
    font-size: calc(1.5em + 1vw);
    color: var(--blue-denim);
    margin: 10px 0;
    display: flex;
    justify-content: center;
    grid-area: titulo;
}
main .main--programs .lenguages .c{
    grid-area: c;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages .Java{
    grid-area: Java;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .JavaScript{
    grid-area: JavaScript;
    align-self: center;
    display: flex;
    justify-self: center;
}
main .main--programs .lenguages  .TensorFlow{
    grid-area: TensorFlow;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .Swift{
    grid-area: Swift;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .Python{
    grid-area: Python;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .HTML{
    grid-area: HTML;
    align-self: center;
    display: flex;
    justify-self: center;
    /* padding: 0 0 50px 0; */
}
main .main--programs .lenguages  .Numpy{
    grid-area: Numpy;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .php{
    grid-area: php;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages  .MySQL{
    grid-area: MySQL;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages .Css{
    grid-area: Css;
    display: flex;
    justify-self: center;
    align-self: center;
}
main .main--programs .lenguages .Matplotlib{
    grid-area: Matplotlib;
    display: flex;
    align-self: center;
    justify-self: center;
}
main .main--programs .lenguages img{
    width: 70%;
}
/*GITHUB*/
main .main--programs .github {
    background-color: var(--blue-denim);
    border: 5px solid black;
    display: grid;
    grid-row: auto;
    align-items: center;
    justify-items: center;
    width: auto;
}
main .main--programs .github  p{
    font-size: calc(1em + 1vw);
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 10px;
}

    /* Escuelas */ 
main .main--schools {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
}
/* PLATZI */
.platzi, .unam {
    display: grid;
    grid-template-rows: auto;
    border: 5px solid black;
    background-color: var(--blue-grey);
    color: var(--blue-denim);
    height: 100%;
    width: calc(100% - 10px);
}
.platzi h2, .unam h2{
    font-size: calc(1.5em + 1vw);
    margin: 10px 0;
    text-align: center;
}
.platzi--div-title img{
    width: 30%;
    float: right;
}
.platzi--div-content img{
    width: 60%;
    float: right;
    padding: 5px;
}
/*Similitud */
.platzi--div div, .unam--div div{
    margin: auto;
    width: 85%;
}
.platzi--div p, .unam--div p {
    display: inline-block;
    width: 100%;
    font-size: calc(1em  + 1vw);
}
.platzi--div-title, .unam--div-title {
    text-align: center;
}
.platzi--div span ,.unam--div span{
    font-weight: 700;
}
/* UNAM */
.unam {
    color: black;
    background-color: var(--blue-light);
}
.unam--div-content img {
    width: 60%;
    float: right;
    padding: 5px;
}
.unam--div-title img {
    float: right;
    width: 20%;
}
    /* MY LIKES */
main .main-books-photos {
    display: grid;
    grid-template-rows: repeat(3, auto);
}
/*BOOKS*/
main .main-books-photos .books{
    background-color: var(--red);
    border: 5px solid black;
}
main .main-books-photos .books h2{
    font-size: calc(1.5em + 1vw);
    color: var(--blue-denim);
    display: grid;
    justify-items: center;
    margin: 10px 0;
    width: auto;
}
main .main-books-photos .books div {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}
main .main-books-photos .books img{
    width: 17%;
}
/*LIKES*/
main .main-books-photos .likes {
    background-color: var(--blue-denim);
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    border: 5px solid black;
}
main .main-books-photos .likes h2{
    font-size: calc(2rem + .8vw);
    margin: 10px 0;
}
main .main-books-photos .likes .likes--info{
    font-size: calc(1em + .7vw);
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.main-books-photos .likes ul {
    list-style-type: circle;
    margin: 0 0 0 15px;
}
.main-books-photos .likes li {
    padding: 5px;
}
.main-books-photos .likes .likes--info div img {
    width: 40%;
}
/*PHOTOS*/
.main-books-photos .photos {
    background-color: var(--principal);
    border: 5px solid black;
}
.main-books-photos .photos h2{
    font-size: calc(1.5em + .8vw);
    display: grid;
    justify-items: center;
    margin: 10px 0;
    color: var(--blue-denim);
}
.main-books-photos .photos a{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}
.main-books-photos .photos img {
    width: 30%;
}

    /* ADOBE */
.main-adobe {
    display: grid;
    grid-template-rows: repeat(3, auto);
    font-size: 2rem;
    justify-items: center;
    width: 100%;
}
.main-adobe img {
    width: 100px;
    margin: 0%;
}
.main-adobe img:hover {
    width: 110px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.XD {
    width: calc(100% - 10px);
    border: 5px solid black;
    background-color: var(--blue-grey);
}
.XD a{
    display: grid;
    justify-items: center;
    font-size: calc(1em + .5vw);
    color: var(--blue-denim);
}
.photoshop {
    background-color: var(--principal);
    width: calc(100% - 10px);
    border: 5px solid black;
}
.photoshop a{
    display: grid;
    justify-items: center;
    font-size: calc(1em + .5vw);
    color: var(--blue-denim);
}
.illustrator {
    background-color: var(--blue-denim);
    width: calc(100% - 10px);
    border: 5px solid black;
}
.illustrator a{
    display: grid;
    font-size: calc(1em + .5vw);
    justify-items: center;
}
.XD a:hover, .photoshop a:hover, .illustrator a:hover {
    font-size: calc(1em + .6vw);
} 

    /* CERTIFICATES */
.main-certificates {
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.main-certificates img{
    width: 100%;
    margin: 0;
}
/*PLATZI*/
.certificate-platzi {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border: 5px solid black;
    background-color: var(--blue-denim);
    width: calc(100% - 10px);
    height: 100%;
}
.certificate-platzi a{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    width: auto;
}
.certificate-platzi p, .certificate-others p{
    border: 1px solid black;
    border-radius: 10px;
    font-size: calc(1em + .5vw);
    margin: 10px;
    padding: 0 10px;
    height: 26px;
}
.certificate-platzi p:hover, .certificate-others p:hover {
    font-size: calc(1em + .6vw);
    border: 2px solid black
}
/*OTROS*/
.certificate-others {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border: 5px solid black;
    width: calc(100% - 10px);
    height: 100%;
    background-color: var(--blue-light);
}
.certificate-others a{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}
/* CONTACTO */
.contacto {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
    background-color: var(--red);
    border: 5px solid black;
    width: calc(100% - 10px);
}
.contacto h2 {
    font-size: calc(2rem + 1vw);
    color: white;
    margin: 10px 0;
}
.contact-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/*Animación*/
.button{ 
    width: 70px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0 ,0 , 0, 0.16);
    cursor: pointer;
    float: left;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    background-color: black;
}
.github .button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.github .button span {
    font-size: 2rem;
    line-height: 100px;
}
.github .button img {
    width: 100px;
    border-radius: 100px;
}
.button:hover {
    width: 150px;
    background-color: var(--red);
}
.github .button:hover {
    width: 310px;
    background-color: var(--blue-denim);
}
.button .icon {
    display: inline-block;
    height: 70px;
    width: 70px;
    text-align: center;
    border-radius: 50px;
}
.github .button .icon {
    width: 100px;
    height: 100px;
}
.button .icon i{
    font-size: 6rem;
    transition: all 0.3s ease-in-out;
    line-height: 70px;
    color: var(--red);
}
.github .button .icon i{
    color: var(--blue-denim);
    font-size: 100px;
    line-height: 100px;
}
.button:hover i{
    color: white;
}

.button span {
    font-size: 1.5rem;
    line-height: 70px;
}
.github .button:nth-child(1):hover .icon {background: #333;}
.button:nth-child(1):hover .icon {background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);}
.button:nth-child(2):hover .icon {background:  #0e76a8;}
.button:nth-child(3):hover .icon {background: #1DA1F2;}

.github .button:nth-child(1) span {color: #333;}
.button:nth-child(1) span {color: white;}
.button:nth-child(2) span {color: var(--blue-denim);}
.button:nth-child(3) span {color: #1DA1F2;}

main .main-certificates .contacto .contact-images img {
    width: 7rem;
} 
main .main-certificates .contacto .contact-paypal {
    font-size: 1.4rem;
    color: var(--blue-denim);
}
/*Paypal*/

.paypal--boton{
    width: 150px;
}

    /* FOOTER */
.footer{
    border: 5px solid black;
    font-size: calc(1em + .7vw);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--principal);
    color: var(--blue-denim);
}